body{
	background-color: #aaa;
}

#header{
	background-color: lightblue;
}

#login{
	display: none;
	width: 160px;
	background-color: lightblue;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}