<!DOCTYPE html>
<html>
	<head>
		<title>Ambrosia</title>
		<link rel="stylesheet" href="ambrosia.css" />
		<script type="text/javascript" src="jquery-1.6.4.min.js"></script>
		<script>
			var LoginHidden = true;
			function ToggleLogin(){
				var login =  $('#login');
				if ( LoginHidden == true ){
					login.slideDown('fast', function(){
						LoginHidden = false;
					});
				}else{
					login.slideUp('fast', function(){
						LoginHidden = true;
					});
				}
			}
		</script>
	</head>
	<body>
		<div id="header">
			<span onclick="ToggleLogin();">login</span>
		</div>
		<div id="login">
				<form action="https://cheese.caek.fi/ambrosia/login" method="post">
					<input type="text" name="user" placeholder="Username..">
					<input type="password" name="password" placeholder="Password..">
					<input type="submit" value="Login">
				</form>
			</div>
		<div id="content">
			<h1>Ambrosia</h1>
		</div>
		
	</body>
</html>