extends layout

block content
    div#login
        h1 Welcome to Ambrosia
        form(method="post", action="login")
            input(type="text", name="user", placeholder="Username..")
            input(type="password", name="password", placeholder="Password..")
            input(type="submit", value="Login")